@mixin style($map) {
  // border: 1px solid red;
  border-bottom: 1px solid map-get($map, "base");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: .8rem;
  flex: 1 1 40%;
  & img {
    max-width: 100%;
    object-fit: cover;
  }
  
  & h2 {
    margin-top: 1rem;
    letter-spacing: 1px;
  }
  & span {
    letter-spacing: .1em;
    margin-top: 1.5em;
    margin-bottom: .5em;
  }
  & a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    // pointer-events: none;
  }

  & .link_categories.active {
    pointer-events: initial;
    border: 1px solid red;
  }
  
}

@mixin load {
  & .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    // margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}