@import "mix";

$colors: (
  "back-body": #282828,
  "base": rgb(204, 204, 204),
  "hovers": rgb(233, 233, 233),
  "warn": rgb(230, 84, 84),
  "success": rgb(16, 151, 122),
);

$font-size: (
  "title": calc(1em + 1.5vw),
  "subtitle": calc(1em + 1vw),
  "name": calc(1em + 0.7vw),
  "text": calc(1em + 0.5vw),
  "link": calc(1em + 0.8vw),
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  // font-size: 1rem;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
}

body {
  background-color: map-get($colors, "back-body");
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  font-size: 1rem;
}

.menu {
  background-color: map-get($colors, "back-body");
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  padding: 1rem;
  z-index: 1000;
  & .menu__links {
    flex: 1;
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      & li {
        list-style: none;
        & a {
          color: map-get($colors, "base");
          text-decoration: none;
          font-size: map-get($font-size, "link");
        }
        & a:hover {
          color: map-get($colors, "hovers");
        }
      }
      & .add__recipe {
        cursor: pointer;
        color: map-get($colors, "base");
        font-size: map-get($font-size, "link");
      }
      & .add__recipe:hover {
        color: map-get($colors, "hovers");
      }
    }
    .icon-home {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
  }
  & .menu__search {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .icon {
      cursor: pointer;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      stroke-width: 0;
      stroke: white;
      fill: white;
    }
    & .menu__search__content {
      background-color: rgba(17, 17, 17, 0.9);
      color: map-get($colors, "base");
      display: none;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 57px;
      z-index: 200;
      & .icon_close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      & .menu__search__form {
        & form input {
          border: none;
          background-color: rgb(49, 49, 49);
          color: white;
          width: 100%;
          font-size: map-get($font-size, "text");
          padding: 0.5rem;
        }
      }

      & .menu__search__result {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        height: 100%;
        position: relative;
        z-index: 100;
        & .error_match {
          color: map-get($colors, "warn");
          align-self: center;
          font-size: map-get($font-size, "text");
          margin-top: 1rem;
          padding: 0.5rem 0.8rem;
          border-radius: 25px;
        }
        & .thumb_meal {
          background-color: #282828;
          cursor: pointer;
          margin: 1rem 0.5rem;
          position: relative;
          text-align: center;
          z-index: 100;
          & .search_p {
            font-size: map-get($font-size, "text");
            margin-top: 1rem;
            margin-bottom: 0.5rem;
          }
        }
        & img {
          max-width: 100%;
          object-fit: cover;
        }
      }
      & .menu__search__result::before {
        content: "";
        box-shadow: 0px 10px 15px 0px #161616;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
}

.free-image {
  width: 100%;
  height: 200px;
  & img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
.modal-recipe {
  background-color: rgb(43, 43, 43);
  color: white;
  display: none;
  flex-direction: column;
  font-size: map-get($font-size, "text");
  width: 70%;
  padding: 0 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  & .modal-recipe__form {
    display: flex;
    flex-direction: column;
  }
  & .modal-recipe__name__recipe {
    margin-top: 1.5rem;

    & .modal-recipe__input__name {
      padding: 1rem;
      border: none;
      background-color: rgb(43, 43, 43);
      border-bottom: 1px solid white;
      font-size: 1.2rem;
      width: 100%;
      height: 30px;
      color: white;
    }
  }

  & .modal-recipe__ingredients {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  & textarea {
    background-color: rgb(43, 43, 43);
    color: white;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
  }
  & .modal-recipe__content-input {
    & input {
      font-size: 1rem;
    }
  }
  & .modal-recipe__button-done {
    align-self: flex-end;
    margin: 0 10px 10px 0;
    width: 15%;
    & button {
      background-color: rgb(50, 112, 50);
      border: none;
      color: white;
      font-size: map-get($font-size, "text");
      width: 100%;
      padding: 0.4rem;
    }
  }
}
.modal-recipe__preview-img {
  max-width: 300px;
}
.modal-recipe__close {
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 150;
}
.modal-recipe.active {
  display: block;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  & .section-trend {
    width: 100%;
    height: 60vh;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    @include load;
    & .section-trend__content {
      width: 100%;
      height: 100%;
      position: relative;
      & img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all linear 0.3s;
      }
      & .section-trend__content-text {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 0.5rem 1rem;
        width: 100%;
        height: 110px;
        position: absolute;
        bottom: 0;
        z-index: 50;
        & .text-category-trend {
          display: block;
          margin-bottom: 1rem;
          font-size: map-get($font-size, "name");
          letter-spacing: 0.1rem;
          font-weight: bold;
        }

        & a:hover {
          border-bottom: 1px solid white;
        }

        & .section-trend__content-text-name-meal {
          font-size: map-get($font-size, "name");
          & .link-trend {
            font-size: calc(1em + 0.8vw);
          }
        }
      }
    }
    & .section-trend__content:hover img {
      transform: scale(1.1);
    }
  }

  .section-trend.not-display {
    display: none;
  }
  & .section-categories {
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
    @include load;
    .title {
      border-bottom: 1px solid map-get($colors, "base");
      display: block;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      letter-spacing: 2px;
      font-size: map-get($font-size, "title");
    }

    .section-categories-title.not-display-title {
      display: none;
    }
    & #button_back {
      border: none;
      background-color: transparent;
      border: 1px solid map-get($colors, "base");
      color: white;
      cursor: pointer;
      width: 90px;
      padding: 10px;
      position: absolute;
      left: 0;
      top: 0;
    }
    & .section-categories__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      & .nothing {
        color: rgba(255, 255, 255, 0.4);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      & .section-categories__content__categories {
        @include style($colors);
        .text-category {
          font-size: map-get($font-size, "name");
        }
      }

      & .section-categories__content__eachmeal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 5rem;
        & .img_eachmeal {
          margin-top: 1rem;
        }
        & .name_eachmeal {
          border-top: 1px solid map-get($colors, "base");
          border-bottom: 1px solid map-get($colors, "base");
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          & .text-eachmeal {
            font-size: calc(1em + 1vw);
          }
          & #savebut {
            border: none;
            border: 1px solid map-get($colors, "base");
            color: white;
            cursor: pointer;
            width: 20%;
            font-size: calc(1em + 0.3vw);
            padding: 10px;
            position: relative;
            & .span-save {
              position: relative;
              z-index: 10;
            }
          }

          & #deletebut {
            border: none;
            background-color: map-get($colors, "warn");
            color: white;
            cursor: pointer;
            width: 20%;
            font-size: calc(1em + 0.3vw);
            padding: 10px;
            position: relative;
            top: 0;
            right: 0;
          }

          & #savebut:hover {
            border: 1px solid map-get($colors, "success");
          }

          & .display_warn:before {
            content: "Meal already exist...";
            background-color: map-get($colors, "warn");
            letter-spacing: 0.5px;
            position: absolute;
            top: -80px;
            left: 0px;
            width: 100%;
            padding: 1rem 0;
          }
          & .display_warn:after {
            content: "▼";
            color: map-get($colors, "warn");
            position: absolute;
            top: -32px;
            left: -10px;
            width: 220px;
          }
          & .display_success:before {
            content: "Meal added...";
            background-color: map-get($colors, "success");
            letter-spacing: 0.5px;
            position: absolute;
            top: -80px;
            left: 0px;
            width: 100%;
            padding: 1rem 0;
          }
          & .display_success:after {
            content: "▼";
            color: map-get($colors, "success");
            position: absolute;
            top: -32px;
            left: -10px;
            width: 220px;
          }

          & .display_success_removed:before {
            content: "Meal removed...";
            background-color: map-get($colors, "success");
            letter-spacing: 0.5px;
            position: absolute;
            top: -80px;
            left: 0px;
            width: 100%;
            padding: 1rem 0;
          }
          & .display_success_removed:after {
            content: "▼";
            color: map-get($colors, "success");
            position: absolute;
            top: -32px;
            left: -10px;
            width: 220px;
          }
        }
        .ingredients_eachmeal__sub-title,
        .instructions_eachmeal-sub-title {
          align-self: flex-start;
          font-size: map-get($font-size, "subtitle");
          letter-spacing: 0.1rem;
        }
        & .ingredients_eachmeal {
          width: 85%;
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
        }
        & .instructions_eachmeal {
          width: 85%;
          margin-top: 1.5rem;
          display: flex;
          flex-direction: column;
          & p {
            padding-top: 2rem;
            text-align: start;
            letter-spacing: 0.1rem;
            line-height: 1.5;
            font-size: map-get($font-size, "text");
          }
        }
        & img {
          max-width: 70%;
          object-fit: cover;
        }
      }

      & .section-categories__content__myrecipes {
        @include style($colors);
      }
      .list_ingredients {
        text-align: left;
        padding-top: 2rem;
        & .table-in {
          width: 100%;
          .table-td {
            padding-bottom: 0.5rem;
            font-size: calc(1em + 0.5vw);
          }
        }
      }
    }
  }
  .top {
    opacity: 0;
    transition: all linear 0.2s;
    .icon-top {
      cursor: pointer;
      display: inline-block;
      width: 50px;
      height: 50px;
      stroke-width: 0;
      stroke: map-get($colors, "base");
      fill: map-get($colors, "base");
      z-index: 1000;
    }
  }
}
.light {
  background-color: rgba(#e6cb33, 0.8);
}

.bar {
  background-color: red;
  width: 0px;
  height: 4px;
  position: fixed;
  top: 0px;
  z-index: 500;
}
.more {
  border: 1px solid map-get($colors, "base");
  cursor: pointer;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 0 1.3rem;
  position: relative;
  transition: all linear 0.3s;
  & .span-text {
    display: block;
    position: relative;
    z-index: 100;
  }
  & .svg-span {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    transform: rotate(180deg);
    position: relative;
    z-index: 100;
    & svg {
      width: 35px;
      height: 35px;
      stroke: map-get($colors, "base");
      fill: map-get($colors, "base");
    }
  }
}

.more.none {
  display: none;
}
.more.flex {
  display: flex;
}
.more::before {
  content: "";
  background-color: #1d1d1d;
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all linear 0.2s;
  z-index: 1;
}
.more:hover .span-text {
  text-shadow: 0px 0px 1px map-get($colors, "base");
}
.more:hover::before {
  opacity: 1;
  height: 100%;
}

.footer {
  background-color: map-get($colors, "base");
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: calc(1em + 0.5vw);
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
  padding: 1rem 0 1rem 0;
  & .content-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    & span {
      letter-spacing: 1px;
    }
    & .under {
      border-bottom: 1px solid black;
      color: black;
    }
  }
  & .content-contact span {
    margin-bottom: 0.5rem;
  }
  & .content-icon__github {
    position: absolute;
    right: 10%;
    & .icon-github {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: black;
      fill: black;
    }
  }
}
